body {
    font-family: Arial;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;

}

.header {
    font-size: x-large;
    color: lightseagreen;
    padding-bottom: 20px;
}

hr {
    background-color: lightseagreen;
    outline: none;
    border: 0px;
    height: 3px;
}

button {
    background-color: red;
    color: white;
    font-size: x-small;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 0px;
    border-radius: 3px;
    font-weight: bold;
    min-width: 16%;
    width: auto;


}

label {
    color: red;
    font-size: xx-small;
}

.inputsearch {
    width: 78.5%;
    border-radius: 3px;
    border: 1px solid red;
    padding: 5px;
}

thead {
    background-color: lightseagreen;
}

table {
    width: 100%;
}

.distance {
    padding-bottom: 10px;
}

.alignRight {
    text-align: right;
    padding-right: 2%;
}

a {
    color: white;
    text-decoration: none;
}
