<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Most expensive</title>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
<div th:insert="fragments :: navbar"></div>

    <div>
        <table>
            <thead>
            <tr>
                <th> Name</th>
                <th> Description</th>
                <th> Price</th>
                <th> Quantity of stock</th>
            </tr>
            </thead>

            <tr>
                <td th:text="${item.name}"></td>
                <td th:text="${item.description}"></td>
                <td class="alignRight" th:text="${item.price} +' Kč'"></td>
                <td class="alignRight" th:text="${item.quantityOfStock}"></td>
            </tr>
        </table>

    </div>




</body>
</html>