<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<div style="clear: both; margin-left: 45px; padding-right: 45px; padding-top: 30px; padding-bottom: 50px;">
    <a href="/submit"> <h4 style="float: left">Submit a new post </h4> </a>
    <a th:href="@{|/${log}|}"> <h4 th:text="${log}" style="float: right"></h4> </a>
    <h4 style="float: right"> &nbsp; </h4>
    <h4 style="float: right" th:text="${currentUser}"> </h4>
</div>

<div style="text-align: center; margin-right: 45px; padding-bottom: 20px">
    <h2 >Trending posts </h2>
</div>

<table class="table table-borderless" style="text-align: left">
    <thead>
    <tr>
        <th style="text-align: right">Score</th>
        <th style="text-align: center">Vote</th>
        <th style="text-align: center">Vote</th>
        <th>Post title</th>
        <th>Author</th>
        <th>Created</th>
    </tr>
    </thead>
    <tr th:each="post : ${posts}">
        <td th:text="${post.score}" style="width: 100px; text-align: right"></td>
        <form th:action="@{/vote}" method="post">

            <td style="width: 30px; text-align: center">
                <button style="background-color: transparent; border: none; outline: none" type="submit" name="plus"
                        value="+">
                    <span class="material-icons">add_circle_outline </span>
                </button>
            </td>
            <input type="hidden" name="plus" value="-">
            <td style="width: 30px; text-align: center">
                <button style="background-color: transparent; border: none; outline: none" type="submit" name="minus"
                        value="-">
                    <span class="material-icons">remove_circle_outline</span>
                </button>
            </td>
            <input type="hidden" name="minus" value="+">
            <input type="hidden" name="id" th:value="${post.id}">
            <input type="hidden" name="page" th:value="${page}">

        </form>
        <td><a th:href="${post.url}" th:text="${post.title}" target="_blank"></a></td>
        <td th:text="${post.created}"> </td>

    </tr>
</table>


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <span th:each="page : ${totalPages}">
              <li class="page-item"><a class="page-link" th:href="@{|/${page}/${currentUser}|}" th:text="${page}"></a></li>
        </span>
    </ul>
</nav>
<div style="text-align: center">
<span th:text="|Page ${page} of ${totalPages.size()}|"></span>
</div>


</body>
</html>