<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link th:href="@{/styles/css/style.css}" rel="stylesheet">
    <title>Chat app home</title>
</head>
<body>
<div class="container">
    <div class="row"> &nbsp;</div>
    <div class="row">
        <div class="col-8">
            <h1>Rascal Chat Client</h1>
        </div>
        <div class="col-2 col-end">
            <img th:src="${avatarUrl}" style="width:70px;height:70px;">
        </div>
        <div class="col-2 col-end">
            <a href="/register" th:text="${newUser}"></a>
            <span th:text="${currentUser}"></span> <br>
            <a th:href="${login}" th:text="${login}"></a> <br>
            <a th:href="${update}" th:text="${update}"></a>
        </div>
    </div>
<!--    <div class="row">-->
<!--        <div class="col-12">-->
<!--            <hr>-->
<!--        </div>-->
<!--    </div>-->


    <form th:action="@{/}" th:method="POST">
        <div class="row">
            <div class="col-11">

                <label for="message"> Your message: </label>
                <input class="form-control" id="message" type="text" autofocus name="message" required>

            </div>
            <div class="col-1 align-self-end col-end ">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-11">
            <div class="row" th:each="myMessage : ${myMessages}">
                <div class="col-1">
                    <img th:src="${myMessage.avatarUrl}" style="width:40px;height:40px;">
                </div>
                <div class="col-10">
                    <span th:text="${myMessage.channelId}"></span>
                    <span th:text="${myMessage.userName}"></span>
                    <span th:text="${myMessage.time}"></span>
                    <span th:text="${myMessage.date}"></span> <br>
                    <span th:text="${myMessage.content}"></span>
                    <hr>
                </div>

            </div>
        </div>
        <div class="col-1 col-end">
            <a href="/reload">
                <button class="btn btn-primary">Reload</button>
            </a>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>