<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ToDo List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>

<caption>Todos for today:</caption>
<table class="table">
    <thead class="thead-dark">
    <th> Id</th>
    <th> ToDo</th>
    <th> Urgent</th>
    <th> Done</th>
    </thead>
    <tr th:each="todo: ${todos}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.urgent} ? 'YES' : 'NO'  "></td>
        <td th:text="${todo.done} ? 'YES' : 'NO'  "></td>
    </tr>

</table>


</body>
</html>