<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ToDo List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
<h2 style="margin-left: 2%">Todos for today:</h2>

<br>
<form th:action="@{/search}" method="POST" style="margin-left: 2%">
    <label for="search">Search </label>
    <input type="text" id="search" name="search">
    <input type="submit" value="Search">
</form>
<a href="/todo/add" style="margin-left: 2%">Add a new ToDo</a> |
<a href="/list">List all</a> |
<a href="/list/name=urgent">List Urgent</a> |
<a href="/list/name=done">List Done</a> | | |
<a href="/list-assignees">List of Assignees</a>
<br>
<div><br></div>


<table class="table table-hover">
    <thead class="thead-dark">
    <th> Id</th>
    <th> ToDo</th>
    <th> Description </th>
    <th> Assignee</th>
    <th> Created</th>
    <th> Finish till</th>
    <th> Urgent</th>
    <th> Done</th>
    <th></th>
    <th></th>
    </thead>
    <tr th:each="todo: ${todos}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.description}"></td>
        <td th:text="${todo.assignee.getName()}"></td>
        <td th:text="${todo.date}"></td>
        <td th:text="${todo.finish}"></td>
        <td th:text="${todo.urgent} ? 'YES' : 'NO'  "></td>
        <td th:text="${todo.done} ? 'YES' : 'NO'  "></td>
        <td><a th:href="@{|/${todo.id}/delete|}"> delete </a></td>
        <td><a th:href="@{|/${todo.id}/edit|}"> edit </a></td>
    </tr>

</table>


</body>
</html>