<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<div style="padding-left:20%">
    <!--  th:selected="${food.getId()==fox.food.getId()}"  -->

    <li><a href="/login">Login page</a></li>
    <li><a th:href="@{|/nutritionStore/?name=${foxName}|}">Nutrition Store</a></li>
    <li><a th:href="@{|/trickCenter/?name=${foxName}|}">Trick Center</a></li>
    <img src="/greenfox.png">
    <div th:text="|This is ${foxName}. Currently living on ${foxFood} and ${foxDrink}. He knows ${foxTricksNumber} tricks.|">
    </div>
    <h2> Known tricks </h2>
    <div th:each="trick : ${foxTricks}">
        <li style="padding-left: 4%" th:text="${trick}"></li>
    </div>
    <div th:if="${foxTricks.size()==0}">You know no tricks, yet. Go and learn some.</div>
</div>
</body>
</html>