<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body style="padding-left: 5%">

<h2>Welcome to Programmer Fox Club!</h2>

<div style="padding-bottom: 20px"> Please provide a name, so you can associate it to your pet! </div>

<form th:action="@{/}" method="POST">
    <label for="name">Name</label>
    <input id="name" type="text" name="petname" autofocus>
    <input type="submit" value="GO" >
</form>

<h3 th:text="${notPresent}"></h3>

</body>
</html>