<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add student</title>
</head>
<body>

<a href="/gfa"> Home </a> <br>
<a href="/gfa/list"> List all </a> <br>
<a href="/gfa/check"> Check name </a> <br>

<form th:action="@{/gfa/save}" th:method="POST">
    <label for="newstudent"> Name of new Student</label>
    <input autofocus id="newstudent" type="text" name="nameStudent">
    <input type="submit" value="SAVE">
</form>
</body>
</html>